<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="YTM Importer"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".ListSelectorActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".StorageChooserActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".RecentFileChooserActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".QuotaActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".PlaylistActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".ServiceActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".DestinationActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".ReviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".ImportActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".PendingActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".DataActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
